/bitrix/managed_cache/*
/bitrix/cache/*
/bitrix/stack_cache/*
/bitrix/backup/*
/bitrix/tmp/*
/bitrix/html_pages/*
/bitrix/updates/*
!/bitrix/.access.php
!/bitrix/.settings.php
!/bitrix/license_key.php

/upload/*
!/upload/.access.php
!/upload/resize_cache/

/images/*
!/images/.access.php

/local/php_interface/init.php
/local/php_interface/dbconn.php
/local/php_interface/event_handlers.php

*.sql
*.dump
*.bak

*.log
/logs/

.env
docker-compose.override.yml

.DS_Store
Thumbs.db
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

*.tmp
*.temp